UTSTutor_Assignment1/web/WEB-INF/wsdl/localhost_8080/UTSTutor_Assignment1/bookingApp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.wsd.uts/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.wsd.uts/">

<xs:element name="fetchTutors" type="tns:fetchTutors"/>

<xs:element name="fetchTutorsResponse" type="tns:fetchTutorsResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="tutor" type="tns:tutor"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="fetchTutors">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchTutorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:tutor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tutor">
<xs:complexContent>
<xs:extension base="tns:user">
<xs:sequence>
<xs:element name="tutorSpecialty" type="tns:tutorSpecialtyEnum"/>
<xs:element name="avaliable" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfBirth" type="xs:string" minOccurs="0"/>
<xs:element name="userType" type="tns:userTypeEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="tutorSpecialtyEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="WSD"/>
<xs:enumeration value="USP"/>
<xs:enumeration value="SEP"/>
<xs:enumeration value="AppProg"/>
<xs:enumeration value="MobileApp"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="userTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="STUDENT"/>
<xs:enumeration value="TUTOR"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>