UTSTutor_Assignment1/src/conf/xml-resources/web-service-references/bookingApp/wsdl/localhost_8080/UTSTutor_Assignment1/bookingApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="bookingApp">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/UTSTutor_Assignment1/bookingApp?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getBookings">
<part name="parameters" element="tns:getBookings"/>
</message>
<message name="getBookingsResponse">
<part name="parameters" element="tns:getBookingsResponse"/>
</message>
<message name="cancelBookingObject">
<part name="parameters" element="tns:cancelBookingObject"/>
</message>
<message name="cancelBookingObjectResponse">
<part name="parameters" element="tns:cancelBookingObjectResponse"/>
</message>
<message name="cancelBookingID">
<part name="parameters" element="tns:cancelBookingID"/>
</message>
<message name="cancelBookingIDResponse">
<part name="parameters" element="tns:cancelBookingIDResponse"/>
</message>
<message name="completeBookingID">
<part name="parameters" element="tns:completeBookingID"/>
</message>
<message name="completeBookingIDResponse">
<part name="parameters" element="tns:completeBookingIDResponse"/>
</message>
<message name="completeBookingObject">
<part name="parameters" element="tns:completeBookingObject"/>
</message>
<message name="completeBookingObjectResponse">
<part name="parameters" element="tns:completeBookingObjectResponse"/>
</message>
<message name="getTutors">
<part name="parameters" element="tns:getTutors"/>
</message>
<message name="getTutorsResponse">
<part name="parameters" element="tns:getTutorsResponse"/>
</message>
<message name="createBooking">
<part name="parameters" element="tns:createBooking"/>
</message>
<message name="createBookingResponse">
<part name="parameters" element="tns:createBookingResponse"/>
</message>
<message name="createBookingString">
<part name="parameters" element="tns:createBookingString"/>
</message>
<message name="createBookingStringResponse">
<part name="parameters" element="tns:createBookingStringResponse"/>
</message>
<message name="getBookingByID">
<part name="parameters" element="tns:getBookingByID"/>
</message>
<message name="getBookingByIDResponse">
<part name="parameters" element="tns:getBookingByIDResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="updateTutorAccount">
<part name="parameters" element="tns:updateTutorAccount"/>
</message>
<message name="updateTutorAccountResponse">
<part name="parameters" element="tns:updateTutorAccountResponse"/>
</message>
<message name="getBookingsBySubject">
<part name="parameters" element="tns:getBookingsBySubject"/>
</message>
<message name="getBookingsBySubjectResponse">
<part name="parameters" element="tns:getBookingsBySubjectResponse"/>
</message>
<message name="updateStudentAccount">
<part name="parameters" element="tns:updateStudentAccount"/>
</message>
<message name="updateStudentAccountResponse">
<part name="parameters" element="tns:updateStudentAccountResponse"/>
</message>
<message name="cancelUserAccount">
<part name="parameters" element="tns:cancelUserAccount"/>
</message>
<message name="cancelUserAccountResponse">
<part name="parameters" element="tns:cancelUserAccountResponse"/>
</message>
<message name="getBookingsByStatus">
<part name="parameters" element="tns:getBookingsByStatus"/>
</message>
<message name="getBookingsByStatusResponse">
<part name="parameters" element="tns:getBookingsByStatusResponse"/>
</message>
<message name="getBookingsByStudentEmail">
<part name="parameters" element="tns:getBookingsByStudentEmail"/>
</message>
<message name="getBookingsByStudentEmailResponse">
<part name="parameters" element="tns:getBookingsByStudentEmailResponse"/>
</message>
<portType name="BookingSOAP">
<operation name="login">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/loginRequest" message="tns:login"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getBookings">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingsRequest" message="tns:getBookings"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingsResponse" message="tns:getBookingsResponse"/>
</operation>
<operation name="cancelBookingObject">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/cancelBookingObjectRequest" message="tns:cancelBookingObject"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/cancelBookingObjectResponse" message="tns:cancelBookingObjectResponse"/>
</operation>
<operation name="cancelBookingID">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/cancelBookingIDRequest" message="tns:cancelBookingID"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/cancelBookingIDResponse" message="tns:cancelBookingIDResponse"/>
</operation>
<operation name="completeBookingID">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/completeBookingIDRequest" message="tns:completeBookingID"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/completeBookingIDResponse" message="tns:completeBookingIDResponse"/>
</operation>
<operation name="completeBookingObject">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/completeBookingObjectRequest" message="tns:completeBookingObject"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/completeBookingObjectResponse" message="tns:completeBookingObjectResponse"/>
</operation>
<operation name="getTutors">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/getTutorsRequest" message="tns:getTutors"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/getTutorsResponse" message="tns:getTutorsResponse"/>
</operation>
<operation name="createBooking">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/createBookingRequest" message="tns:createBooking"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/createBookingResponse" message="tns:createBookingResponse"/>
</operation>
<operation name="createBookingString">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/createBookingStringRequest" message="tns:createBookingString"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/createBookingStringResponse" message="tns:createBookingStringResponse"/>
</operation>
<operation name="getBookingByID">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingByIDRequest" message="tns:getBookingByID"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingByIDResponse" message="tns:getBookingByIDResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="updateTutorAccount">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/updateTutorAccountRequest" message="tns:updateTutorAccount"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/updateTutorAccountResponse" message="tns:updateTutorAccountResponse"/>
</operation>
<operation name="getBookingsBySubject">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingsBySubjectRequest" message="tns:getBookingsBySubject"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingsBySubjectResponse" message="tns:getBookingsBySubjectResponse"/>
</operation>
<operation name="updateStudentAccount">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/updateStudentAccountRequest" message="tns:updateStudentAccount"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/updateStudentAccountResponse" message="tns:updateStudentAccountResponse"/>
</operation>
<operation name="cancelUserAccount">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/cancelUserAccountRequest" message="tns:cancelUserAccount"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/cancelUserAccountResponse" message="tns:cancelUserAccountResponse"/>
</operation>
<operation name="getBookingsByStatus">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingsByStatusRequest" message="tns:getBookingsByStatus"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingsByStatusResponse" message="tns:getBookingsByStatusResponse"/>
</operation>
<operation name="getBookingsByStudentEmail">
<input wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingsByStudentEmailRequest" message="tns:getBookingsByStudentEmail"/>
<output wsam:Action="http://soap.wsd.uts/BookingSOAP/getBookingsByStudentEmailResponse" message="tns:getBookingsByStudentEmailResponse"/>
</operation>
</portType>
<binding name="BookingSOAPPortBinding" type="tns:BookingSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelBookingObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelBookingID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="completeBookingID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="completeBookingObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTutors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBookingString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTutorAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingsBySubject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudentAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelUserAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingsByStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingsByStudentEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="bookingApp">
<port name="BookingSOAPPort" binding="tns:BookingSOAPPortBinding">
<soap:address location="http://localhost:8080/UTSTutor_Assignment1/bookingApp"/>
</port>
</service>
</definitions>