UTSTutor_Assignment1/src/conf/xml-resources/web-service-references/bookingApp/wsdl/localhost_8080/UTSTutor_Assignment1/bookingApp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.wsd.uts/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.wsd.uts/">

<xs:element name="authorizeUser" type="tns:authorizeUser"/>

<xs:element name="authorizeUserResponse" type="tns:authorizeUserResponse"/>

<xs:element name="booking" type="tns:booking"/>

<xs:element name="cancelAccount" type="tns:cancelAccount"/>

<xs:element name="cancelAccountResponse" type="tns:cancelAccountResponse"/>

<xs:element name="cancelBookingID" type="tns:cancelBookingID"/>

<xs:element name="cancelBookingIDResponse" type="tns:cancelBookingIDResponse"/>

<xs:element name="cancelBookingObject" type="tns:cancelBookingObject"/>

<xs:element name="cancelBookingObjectResponse" type="tns:cancelBookingObjectResponse"/>

<xs:element name="completeBookingID" type="tns:completeBookingID"/>

<xs:element name="completeBookingIDResponse" type="tns:completeBookingIDResponse"/>

<xs:element name="completeBookingObject" type="tns:completeBookingObject"/>

<xs:element name="completeBookingObjectResponse" type="tns:completeBookingObjectResponse"/>

<xs:element name="createBooking" nillable="true" type="tns:createBookingString"/>

<xs:element name="createBookingResponse" nillable="true" type="tns:createBookingStringResponse"/>

<xs:element name="createBookingString" type="tns:createBookingString"/>

<xs:element name="createBookingStringResponse" type="tns:createBookingStringResponse"/>

<xs:element name="editDOB" type="tns:editDOB"/>

<xs:element name="editDOBResponse" type="tns:editDOBResponse"/>

<xs:element name="editName" type="tns:editName"/>

<xs:element name="editNameResponse" type="tns:editNameResponse"/>

<xs:element name="editPassword" type="tns:editPassword"/>

<xs:element name="editPasswordResponse" type="tns:editPasswordResponse"/>

<xs:element name="getBookingByID" type="tns:getBookingByID"/>

<xs:element name="getBookingByIDResponse" type="tns:getBookingByIDResponse"/>

<xs:element name="getBookings" type="tns:getBookings"/>

<xs:element name="getBookingsByStatus" type="tns:getBookingsByStatus"/>

<xs:element name="getBookingsByStatusResponse" type="tns:getBookingsByStatusResponse"/>

<xs:element name="getBookingsByStudentEmail" type="tns:getBookingsByStudentEmail"/>

<xs:element name="getBookingsByStudentEmailResponse" type="tns:getBookingsByStudentEmailResponse"/>

<xs:element name="getBookingsByStudentName" type="tns:getBookingsByStudentName"/>

<xs:element name="getBookingsByStudentNameResponse" type="tns:getBookingsByStudentNameResponse"/>

<xs:element name="getBookingsBySubject" type="tns:getBookingsBySubject"/>

<xs:element name="getBookingsBySubjectResponse" type="tns:getBookingsBySubjectResponse"/>

<xs:element name="getBookingsResponse" type="tns:getBookingsResponse"/>

<xs:element name="getLoggedUser" type="tns:getLoggedUser"/>

<xs:element name="getLoggedUserResponse" type="tns:getLoggedUserResponse"/>

<xs:element name="getTutors" type="tns:getTutors"/>

<xs:element name="getTutorsResponse" type="tns:getTutorsResponse"/>

<xs:element name="isBookingOwner" type="tns:isBookingOwner"/>

<xs:element name="isBookingOwnerByID" type="tns:isBookingOwnerByID"/>

<xs:element name="isBookingOwnerByIDResponse" type="tns:isBookingOwnerByIDResponse"/>

<xs:element name="isBookingOwnerResponse" type="tns:isBookingOwnerResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="logout" type="tns:logout"/>

<xs:element name="logoutResponse" type="tns:logoutResponse"/>

<xs:element name="tutor" type="tns:tutor"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="getLoggedUser">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLoggedUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfBirth" type="xs:string" minOccurs="0"/>
<xs:element name="userType" type="tns:userTypeEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="completeBookingID">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="completeBookingIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByStatus">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="bookingID" type="xs:int"/>
<xs:element name="tutorEmail" type="xs:string" minOccurs="0"/>
<xs:element name="tutorName" type="xs:string" minOccurs="0"/>
<xs:element name="subjectName" type="tns:tutorSpecialtyEnum" minOccurs="0"/>
<xs:element name="studentEmail" type="xs:string" minOccurs="0"/>
<xs:element name="studentName" type="xs:string" minOccurs="0"/>
<xs:element name="statusType" type="tns:statusTypeEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingByID">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelBookingObject">
<xs:sequence>
<xs:element name="arg0" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelBookingObjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authorizeUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authorizeUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isBookingOwnerByID">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isBookingOwnerByIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTutors">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTutorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:tutor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tutor">
<xs:complexContent>
<xs:extension base="tns:user">
<xs:sequence>
<xs:element name="tutorSpecialty" type="tns:tutorSpecialtyEnum"/>
<xs:element name="avaliable" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getBookingsByStudentName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByStudentNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelAccount">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cancelAccountResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editNameResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="completeBookingObject">
<xs:sequence>
<xs:element name="arg0" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="completeBookingObjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByStudentEmail">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByStudentEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editPassword">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editPasswordResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookings">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logout">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="logoutResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isBookingOwner">
<xs:sequence>
<xs:element name="arg0" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isBookingOwnerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelBookingID">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelBookingIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBookingString">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBookingStringResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsBySubject">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsBySubjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editDOB">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editDOBResponse">
<xs:sequence/>
</xs:complexType>

<xs:simpleType name="userTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="STUDENT"/>
<xs:enumeration value="TUTOR"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tutorSpecialtyEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="WSD"/>
<xs:enumeration value="USP"/>
<xs:enumeration value="SEP"/>
<xs:enumeration value="AppProg"/>
<xs:enumeration value="MobileApp"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="statusTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="CANCELLED"/>
<xs:enumeration value="COMPLETED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>